<mat-card  class="example-card">
  <mat-card-header>
    <div mat-card-avatar>
      <br>
      <h1><img id = "foto" src={{hotel.foto}} /></h1>
    </div>

    <div  >
      <mat-card-title>{{hotel.nombre}}
      </mat-card-title>
      <mat-card-subtitle>{{hotel.puntuacion}}</mat-card-subtitle>
      
      <i class="material-icons">streetview</i>
      <mat-card-subtitle>{{hotel.ubicacion}}</mat-card-subtitle>
    </div>

    <div>
      <mat-card-title>${{hotel.precioBase}}</mat-card-title>
    </div>
  </mat-card-header>