<div style="display: flex;">

  <div>
    <h1><img id="foto" src={{hotel.foto}} /></h1>
  </div>



  <div style="margin-left: 5%;">
    <h1 class="nombre">{{hotel.nombre}}</h1>

    <div style="display: flex;">
      <div *ngFor="let estrella of getEstrellas()">

        <i class="material-icons" id="estrella">star</i>
      </div>

      </div>
    <div style="display: flex;">

      <div>
        <i class="material-icons" style="margin-top:8%;">room</i>
      </div>



      <div style="margin-top: 3%">
        <h2 class="ubicacion"> {{hotel.ubicacion}}</h2>
      </div>
    </div>
  </div>
</div>