
<div>
    
   <mat-toolbar class= "barra" color="primary">


       <a [routerLink]="'/aplicacion/hoteles'" class= "logo" >
           <div>
                        <mat-icon aria-hidden="false" aria-label="Example home icon" id = "iconoCasa">home</mat-icon> 

                    </div>
                    
                    <div>
                        <p>EH!</p>  

                    </div>
                    
                </a>
            
            <div class = "reservas">
                <div>
                    
                    <a [routerLink] = "'/aplicacion/misReservas'">
                        {{clienteService.cliente.username}} - Mis Reservas <p> </p>
                    </a>
                </div>
        </div>
    </mat-toolbar>
        
        
</div>

<router-outlet></router-outlet>