a{
    text-decoration: none;
    color: white
    }

a:hover{
    color: lightgray;
    text-decoration: none;
}    

 .reservas{
    margin-left: 75%;
    margin-top: 1%
} 

.barra{
    display: flex;
}

.logo{
    display: flex;
    margin-top: 1.5%

}

#iconoCasa{
    margin-top: 15%
}