<div>

  <app-hoteles>

  </app-hoteles>

</div>

<br>

<mat-card>
  <mat-card-title>Habitaciones:</mat-card-title>

  <mat-radio-group class="enColumna">
    <mat-radio-button class="radio-button" *ngFor="let habitacion of habitaciones" [value]="habitacion">
      {{habitacion}}
    </mat-radio-button>
  </mat-radio-group>

</mat-card>

<br>

<mat-card>
  <mat-card-title>Servicios Adicionales:</mat-card-title>
  <div class="enColumna">
    <mat-checkbox class="checkbox" *ngFor="let servicio of servicios" [value]="servicio">

      {{servicio}}
    </mat-checkbox>
  </div>

</mat-card>

<br>

<mat-card>
  <div class = "horizontal">
      <div>
      
          <mat-form-field>
              <label>Desde: </label>
              <input matInput [matDatepicker]="picker" placeholder="Fecha desde..."  [(ngModel)]="fechaDesde">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            
            <br>
            <mat-form-field>
              <label>Hasta: </label>
              <input matInput [matDatepicker]="picker2" placeholder="Fecha hasta..."[(ngModel)]="fechaHasta">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
      </div>
        
      <h4>$ Precio Final</h4> 
      &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  
      <button class="boton" mat-raised-button color="primary">Reservar</button>
  </div>
    </mat-card>