<div style="margin: 0% 25%;">
    <app-hotel [hotel]= "posibleReserva.hotel"></app-hotel>


    <div style= "display:flex;">
        <mat-card class= "mat-elevation-z5" style="margin: 0% 3%">
    
             <mat-card-title>Habitaciones:</mat-card-title>
          
            <mat-radio-group class="enColumna">
              <mat-radio-button class="radio-button" *ngFor="let habitacion of posibleReserva.hotel.habitaciones" [value]="habitacion">
                {{habitacion.tipo}}
                ${{habitacion.precio}}
              </mat-radio-button>
            </mat-radio-group>
          
          </mat-card>
          
          <br>
          
          <mat-card class= "mat-elevation-z5" style="margin: 0% 3%">
            <mat-card-title>Servicios Adicionales:</mat-card-title>
            <div class="enColumna">
              <mat-checkbox class="checkbox" 
              *ngFor="let servicio of posibleReserva.hotel.serviciosAdicionales" 
              [value]="servicio">
          
                {{servicio.tipo}}
                ${{servicio.precio}}
              </mat-checkbox>
            </div>
          
          </mat-card>
          
    </div>
    
    <br>
    
    <mat-card class= "mat-elevation-z5" style="margin: 0.5% 3%">
      <div class = "horizontal">
          <div>
          
              <mat-form-field>
                  <label>Desde: </label>
                  <input matInput [matDatepicker]="desde" placeholder="Fecha desde..." [(ngModel)]="fechaDesde">
                  <mat-datepicker-toggle matSuffix [for]="desde"></mat-datepicker-toggle>
                  <mat-datepicker #desde></mat-datepicker>
                </mat-form-field>
                
                <br>
                <mat-form-field>
                  <label>Hasta: </label>
                  <input matInput [matDatepicker]="hasta" placeholder="Fecha hasta..." [(ngModel)]="fechaHasta">
                  <mat-datepicker-toggle matSuffix [for]="hasta"></mat-datepicker-toggle>
                  <mat-datepicker #hasta></mat-datepicker>
                </mat-form-field>
          </div>
            
          <h4>${{posibleReserva.calcularTotal()}}</h4> 


          <button class="boton" mat-raised-button color="primary">Reservar</button>
      </div>
        </mat-card>
</div>