.enColumna {
    display: flex;
    flex-direction: column;
  }

  .habitaciones {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
  }
  
  .radio-button {
    margin: 5px;
  }

  .checkbox{
      margin: 5px
  }

  .horizontal{
      display:flex
  }
  
  .card{
    box-shadow: 10px 10px 10px black;
  }

  .boton{
    height: 50%;
    margin-left: 25%;

  } 

  .calcularPrecio{
    display:flex;
  }

.precio{

  text-align: center;
  margin-left: 20%;
}

li{
  list-style: none
}